<footer>
  <section class="editable container footer"><div class="footer__1"><h3><a href="/about">About</a></h3><p class="hide-s">About Dr. Hopper</p></div><div class="footer__2"><h3><a href="/services">Services</a></h3><p class="hide-s">Talks, trainings, consultations</p></div><div class="footer__3"><h3><a href="/publications">Publications</a></h3><p class="hide-s">Articles, chapters, and in the media</p></div></section>
</footer>
<div class="footer__bottom">
  <section class="container">
    <p>&copy; 2016 Jim Hopper<span class="hide-s"> | <a href="mailto:drhopper@jimhopper.com">drhopper@jimhopper.com</a></span></p>
  </section>
</div>
