<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}" />
  <title>{{site.title}} | {% if page.topic %}{{ page.topic_name | escape }} | {% endif %}{% if page.custom_title %}{{ page.custom_title | escape }}{% else %}{{ page.title | escape }}{% endif %}</title>
  <link href="//cloud.webtype.com/css/a55677e0-d776-4286-ace2-97d513586574.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">




  <!-- CSS -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endinject -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <meta property="og:url"                content="http://www.jimhopper.com{{page.url}}" />
  <meta property="og:title"              content="{{site.title}} | {% if page.topic %}{{ page.topic_name | escape }} | {% endif %}{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:image" content="http://www.jimhopper.com{{page.og_image_path}}" />
  <meta property="og:description"        content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}" />

  <!-- RSS -->
  <!-- {# feed_meta #} -->

  <!-- SEO -->
  <!-- {# seo #} -->
</head>
