{% if page.topic == 'Child Abuse' %}
<div class="sidebar">
  <div class="sidebar__inner">
    <p class="sidebar__header">{{page.topic | upcase}}</p>
      <ul class="sidebar__items">
        {% assign sorted = site.child-abuse | sort: 'order' %}
        {% for doc in sorted %}
        {% assign current = nil %}
          {% if page.url contains doc.url %}
              {% assign current = 'current' %}
          {% endif %}
        <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a>
          {% if doc.submenu == 'consequences' and page.submenu == 'consequences' %}
            <ul class="sidebar__items sub">
              {% assign sortedInfo = site.consequences-of-abuse | sort: 'order' %}
              {% for doc in sortedInfo %}
              {% assign current = nil %}
                {% if page.url contains doc.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if doc.submenu == 'recovered' and page.submenu == 'recovered' %}
            <ul class="sidebar__items sub">
              {% assign sortedInfo = site.recovered-memories | sort: 'order' %}
              {% for doc in sortedInfo %}
              {% assign current = nil %}
                {% if page.url contains doc.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>
  <div class="sidebar__inner">
    <p class="sidebar__header">{{site.info[0].topic | upcase}}</p>
      <ul class="sidebar__items">
        {% assign sorted = site.info | sort: 'order' %}
        {% for doc in sorted %}
        {% assign current = nil %}
          {% if page.url contains doc.url %}
              {% assign current = 'current' %}
          {% endif %}
        <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
        {% endfor %}
      </ul>
  </div>
  <div class="sidebar__inner">
    <p class="sidebar__header">HELP &amp; SUPPORT</p>
    <p class="sidebar__subheader">If you need immediate information you can call one of these 24-hour toll-free hotlines.</p>
    <ul class="sidebar__items">
      {% for item in site.data.hotlines %}
        <li class="hotline">{{item.name}}</li>
        <li class="number">{{item.number}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if page.topic == 'Info' %}
<div class="sidebar">
  <div class="sidebar__inner">
    <p class="sidebar__header">{{site.child-abuse[0].topic | upcase}}</p>
    <ul class="sidebar__items">
      {% assign sorted = site.child-abuse | sort: 'order' %}
      {% for doc in sorted %}
      {% assign current = nil %}
        {% if page.url contains doc.url %}
            {% assign current = 'current' %}
        {% endif %}
      <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="sidebar__inner">
    <p class="sidebar__header">{{page.topic | upcase}}</p>
    <ul class="sidebar__items">
      {% assign sorted = site.info | sort: 'order' %}
        {% for doc in sorted %}
        {% assign current = nil %}
          {% if page.url contains doc.url %}
              {% assign current = 'current' %}
          {% endif %}
        <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a>
          {% if doc.submenu == 'men' and page.submenu == 'men' %}
            <ul class="sidebar__items sub">
              {% assign sortedInfo = site.men | sort: 'order' %}
              {% for doc in sortedInfo %}
              {% assign current = nil %}
                {% if page.url contains doc.url %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{{current}}"><a href="{{doc.url}}">{{doc.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
    </ul>
  </div>
  <div class="sidebar__inner">
    <p class="sidebar__header">HELP &amp; SUPPORT</p>
    <p class="sidebar__subheader">If you need immediate information you can call one of these 24-hour toll-free hotlines.</p>
    <ul class="sidebar__items">
      {% for item in site.data.hotlines %}
        <li class="hotline">{{item.name}}</li>
        <li class="number">{{item.number}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
