body.topic {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,0.2);
    border-bottom: 4px solid $yellow-basic;
    @include media($s){
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    @include media($l) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  .hero h1 {
    @include media($l) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  &.child-abuse .hero {
    background-image: url('/assets/images/header-abuse.jpg');
  }
  &.healing-and-happiness .hero {
    background-image: url('/assets/images/header-happiness.jpg');
  }
  &.mindfulness-and-meditation .hero {
    background-image: url('/assets/images/header-meditation.jpg');
  }
  &.the-brain .hero {
    background-image: url('/assets/images/header-brain.jpg');
  }
  &.sexual-assault .hero {
    background-image: url('/assets/images/header-sexual-assault.jpg');
  }
}


.article {
  h2 {
    margin-top: 1em;
    &.headline {
      margin-top: 0px;
    }
  }
  p a {
    color: $link-basic;
    text-decoration: underline;
  }
  span.help {
    font-weight: bold;
  }
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    li {
      list-style-type: disc;
      margin-left: 2rem;
      a {
        color: $link-basic;
        text-decoration: underline;
      }
      @include media($s){
        font-size: 1rem;
      }
      @include media($m){
        font-size: 1rem;
      }
      @include media($l){
        font-size: rem(21);
      }
      margin-bottom: 1rem;
    }
  }
  ol {
    margin-top: 2rem;
    margin-bottom: 2rem;
    li {
      list-style-type: decimal;
      margin-left: 2rem;
      a {
        color: $link-basic;
        text-decoration: underline;
      }
      @include media($s){
        font-size: 1rem;
      }
      @include media($m){
        font-size: 1rem;
      }
      @include media($l){
        font-size: rem(21);
      }
      margin-bottom: 1rem;
    }
  }
  blockquote {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-left: 4px solid $gray-basic;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 1rem;
    @include media($s){
      font-size: 1rem;
    }
    @include media($m){
      font-size: 1rem;
    }
    @include media($l){
      font-size: em(21);
    }
  }
  .assault-link { 
    background-color: $sidebar-bg;
    @include pad(1.5rem);
    margin-bottom: 3rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    a p.assault-link__title {
      font-family: Shift;
      font-weight: bold;
      font-size: 21px;
      line-height: 1;
      margin-bottom: 0;
      color: $text;
    }
    p.assault-link__source {
      font-family: FranklinGothicURW-Dem;
      font-size: 16px;
      text-transform: uppercase;
      color: $green-basic;
    }
  }
}

